ðŸ“Œ Objetivo: Carregue a base de clientes e:

Liste as 5 primeiras linhas

Mostre o nÃºmero total de clientes

Calcule mÃ©dia de idade, renda e nÃºmero de compras

In [3]:
import pandas as pd

In [29]:
df = pd.read_csv('desafio_1_clientes.csv')
df.head()

   id_cliente       nome  idade  renda  compras
0           1  Cliente 1     42   9785        5
1           2  Cliente 2     28   9427        3
2           3  Cliente 3     24   8792       13
3           4  Cliente 4     55   2716       19
4           5  Cliente 5     52   4478       18

In [30]:
df['id_cliente'].count()

np.int64(10)

In [28]:
df[['idade', 'renda', 'compras']].median()

idade        37.5
renda      7341.0
compras      10.0
dtype: float64